.user-input{
    display: block;
    width: 90%;
    margin: 20px 15px;
    display: block;
    /* margin: 0 auto; */
    height: 35px;
    border-radius: 5px;
    border: 1px solid #4d4dff;
    font-size: 20px;
}
.user-input:focus, .user-input:active{
    outline: none;
    border: 1px solid #4d4dff;
}
.btn-all{
    background-color: #9999ff;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-top: 50px;
    margin-left: 110px;
    font-size: 20px;

}
.btn-all:hover{
    transition: 0.3s;
    background-color: #6666ff;
}